@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
  font-family: 'Noto Sans', sans-serif;
}

.welcome {
  margin-top: 2em;
  line-height: 2em;
}

.source-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}

.source-title {
  margin-left: .5em;
  vertical-align: middle;
}

.sourcelogo {
  width: 2em;
  height: 2em;
}

.source-summary {
  font-family: 'Noto Sans', sans-serif;
}

.each-source {
  margin-top: 4em;
}

.each-article {
  font-family: 'Noto Sans', sans-serif;
  padding: 2em;
  margin: 1em 0;
}

.article-card {
  position: relative;
  transition: top left ease-in-out;
  transition-duration: 1s;
}

.article-card:hover {
  top: -3px;
  left: -3px;
}

.summary-text {
  list-style: none;
}

.article-link {
  text-decoration: none;
  font-size: 1.5em;
  color: #333;
}

.login-form{
  margin-top: 3em;
}

/* Mobile */
@media only screen and (max-width: 667px) {
  .welcome {
    margin-top: 2em;
    margin-left: .5em;
    line-height: 2em;
  }
  
  .welcome-title {
    margin-bottom: 2em;
    margin-left: .7em;
  }
}