@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
  font-family: 'Noto Sans', sans-serif;
}

.welcome {
  margin-top: 2em;
  line-height: 2em;
}

.source-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}

.source-title {
  margin-top: .1em;
  margin-left: .4em;
}

.sourcelogo {
  width: 2.5em;
  height: 2.5em;
}

.source-summary {
  font-family: 'Noto Sans', sans-serif;
}

.each-source {
  margin-top: 4em;
}

.each-article {
  font-family: 'Noto Sans', sans-serif;
  padding: 2em;
  margin: 1em 0;
}

.article-card {
  position: relative;
  transition: top left ease-in-out;
  transition-duration: 1s;
}

.article-card:hover {
  top: -3px;
  left: -3px;
}

.summary-text {
  list-style: none;
}

.article-link {
  text-decoration: none;
  font-size: 1.5em;
  color: #333;
}

.article-link:hover {
  text-decoration: none;
}

.login-form{
  margin-top: 7em;
}

.fa-home {
  color: snow;
  margin-right: 1em;
}

.fa-sliders {
  color: snow;
  margin-right: .5em;
}

.news-content {
  display: inline-flex;
}

.column-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  padding-left: 2em;
  margin-top: 2em;
  overflow-y: scroll;
  height: 100vh;
}

.column-right {
  margin-left: 5em;
}

.news-grid{
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

.news-logo {
  width: 4em;
  height: 4em;
}

.news-card {
  width: 20em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.fa-search {
  margin-right: 1em;
  color: #FFA14A;
}

.search-bar {
  margin-left: -2em;
  margin-top: 7em;
  display: inline-flex;
}

/* --------search bar styles------------ */

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 20em;
  height: 3em;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-appearance: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: relative;
  top: -1px;
  width: 20rem;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/* --------END search bar styles------------ */

.news-toggle {
  padding-bottom: 1em;
  margin-left: 16em;
}

.preview-grid {
  display: flex;
  justify-content: center;
}

.preview-card {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 1.5em;
  width: 80%;
}

.adrien-useless-stuff {
  margin-top: 30em;
}












/* Mobile */
@media only screen and (max-width: 667px) {
  .welcome {
    margin-top: 2em;
    margin-left: .5em;
    line-height: 2em;
  }
  
  .welcome-title {
    margin-bottom: 2em;
    margin-left: .6em;
  }

  .source-header {
    margin-left: 1em;
  }

  .article-card {
    margin: 1em;
  }

  .news-card {
    width: 21em;
    margin-left: 1em;
  }

  .news-name {
    font-size: 1.2em;
  }

  .new-content {
    flex-direction: column;
  }

}